<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="path" value="D:/Data/7th Semester/IPT/Assignment/2/K164037_Q2/XML/"/>
    </appSettings>
</configuration>